<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Страница авторизации</title>
</head>
<body>
<div>
  <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto;">

    <div th:if="${param.error}">
      <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
    </div>

    <div th:if="${param.logout}">
      <p class="text-warning">Вы вышли из системы</p>
    </div>

    <div>
      <p>Пожалуйста, авторизуйтесь</p>
      <p>
        <input type="text" name="username" placeholder="Логин"/>
      </p>
      <p>
        <input type="password" name="password" placeholder="Пароль"/>
      </p>
      <p>
        <input type="submit" value="Войти"/>
      </p>
    </div>
    <div>
      <a th:href="@{/sign-up}">Зарегистрируйтесь</a>
    </div>
  </form>
</div>
</body>
</html>